KotlinBasics/.gitignore
KotlinBasics/build.gradle
KotlinBasics/gradle.properties
KotlinBasics/gradlew
KotlinBasics/gradlew.bat
KotlinBasics/settings.gradle
KotlinBasics/.idea/.gitignore
KotlinBasics/.idea/compiler.xml
KotlinBasics/.idea/gradle.xml
KotlinBasics/app/.gitignore
KotlinBasics/.idea/misc.xml
KotlinBasics/app/build.gradle
KotlinBasics/app/proguard-rules.pro
KotlinBasics/app/src/androidTest/java/eu/fpeszke/kotlinbasics/ExampleInstrumentedTest.kt
KotlinBasics/app/src/main/AndroidManifest.xml
KotlinBasics/app/src/main/java/eu/fpeszke/kotlinbasics/Basics.kt
KotlinBasics/app/src/main/res/drawable/ic_launcher_background.xml
KotlinBasics/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
KotlinBasics/app/src/main/res/layout/activity_main.xml
KotlinBasics/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
KotlinBasics/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
KotlinBasics/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
KotlinBasics/app/src/main/res/mipmap-hdpi/ic_launcher.webp
KotlinBasics/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
KotlinBasics/app/src/main/res/mipmap-mdpi/ic_launcher.webp
KotlinBasics/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
KotlinBasics/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
KotlinBasics/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
KotlinBasics/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
KotlinBasics/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
KotlinBasics/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
KotlinBasics/app/src/main/res/values/colors.xml
KotlinBasics/app/src/main/res/values/strings.xml
KotlinBasics/app/src/main/res/values/themes.xml
KotlinBasics/app/src/main/res/values-night/themes.xml
KotlinBasics/app/src/test/java/eu/fpeszke/kotlinbasics/ExampleUnitTest.kt
KotlinBasics/gradle/wrapper/gradle-wrapper.jar
KotlinBasics/gradle/wrapper/gradle-wrapper.properties
Trial/.
Trial/.gitignore
Trial/build.gradle
Trial/gradle.properties
Trial/gradlew
Trial/gradlew.bat
Trial/settings.gradle
Trial/.idea/.gitignore
Trial/.idea/compiler.xml
Trial/.idea/gradle.xml
Trial/.idea/misc.xml
Trial/app/.gitignore
Trial/app/build.gradle
Trial/app/proguard-rules.pro
Trial/app/src/main/AndroidManifest.xml
Trial/app/src/main/java/eu/fpeszke/trial/KotlinBasics.kt
Trial/app/src/main/res/drawable/ic_launcher_background.xml
Trial/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
Trial/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Trial/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
Trial/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Trial/app/src/main/res/mipmap-hdpi/ic_launcher.webp
Trial/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
Trial/app/src/main/res/mipmap-mdpi/ic_launcher.webp
Trial/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
Trial/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
Trial/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
Trial/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
Trial/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Trial/gradle/wrapper/gradle-wrapper.jar
Trial/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
Trial/gradle/wrapper/gradle-wrapper.properties
